<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <script src="src/1_app.js" defer></script>
    <title>4 - Toggle sale</title>
</head>

<body>
    <h2>My first Vue app</h2>

    <div id="app">
        <!-- Attribute binding works -->
        <a v-bind:href="url_nvidia">Purchase NVIDIA</a>
        <br>
        <!-- Shorthand is just the colon : -->
        <a :href="url_amd">Purchase AMD</a>
        <br>
        <div v-if="showCard">
            <ul>
                <!-- HEAD for CSS styles  -->
                <li v-for="card in cards" :class="{ sale: card.isSale }" @click="toggleSale(card)">
                    <!-- Here we dynamically display the associated card icon -->
                    <img :src="card.img" :alt="card.model" style="width:50px;height:50px;">
                    <h3>{{ card.model }}</h3>
                    <p>Price: <em>{{ card.price }}</em>, CUDA Cores: <em></em>{{ card.cores }}</em></p>
                </li>
            </ul>
        </div>
        <!-- Notice how the button contents update -->
        <button @click="toggleCard">
            <span v-show="showCard">Hide cards</span>
            <span v-show="!showCard">Show cards</span>
        </button>
    </div>
</body>

</html>